# Supabase Configuration
SUPABASE_URL="https://test.supabase.co"
SUPABASE_KEY="test"
SUPABASE_SERVICE_KEY="test"
SUPABASE_PROJECT_REF="your-project-ref-here"

# SEO & Production URL (WAJIB untuk production)
NUXT_PUBLIC_BASE_URL="https://jurutani.com"

# AI Chatbot Free Tier
GEMINI_API_KEY='your key'
GROQ_API_KEY='your key'
OPENROUTER_API_KEY='your key'
# Weather Key

OPENWEATHER_API_KEY=
OPENWEATHER_BASE_URL=